<%= form_for(@wording) do |f| %>

<% if @wording.errors.any? %>

      <p>Ops! Nos temos <%= pluralize(@wording.errors.count, "erro") %></p>


      <% @wording.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
      <% end %>


<% end %>


    <form class="form-horizontal">
      <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control' %><br>

    <%= f.bootsy_area :text, class: 'form-control', size: "70x12" %><br>

    <%= f.label :category %>
    <%= f.collection_select :category_id , Category.all, :id, :name, {prompt: "Select a category"}, {class: "form-control"}%><br>
    <br><%= f.submit class: 'btn btn-default' %>
      </div>
    </form>
<% end %>
