<h2><%= @wording.title %></h2>

<hr class="soften">

<p>
  <%= raw (@wording.text) %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @wording.category.name %>
</p>

<p>
  <strong>Autor da resenha:</strong>
  <%= @wording.user.name %>
</p>

<%= link_to 'Editar', edit_wording_path(@wording) %> |
<%= link_to 'Voltar', wordings_path %>
