<h1>User profile</h1>
<hr class="soften">
<div class="pull-left">
<p><%= @user.name %></p>
</div>
<div class="pull-right">
<p><%= @user.wordings.length %> Wordings</p>
</div>
<h2>Your wordings</h2>
<hr class="soften">
<% @user.wordings.each do |wording| %>
  <div class="post well-custon">
    <div class="imagem">
      <img src="<%= wording.user.image %>" name="imagem" width="80" height="80" class="img-circle">
    </div>
    <div class>
      <h3><%= link_to wording.title, wording%></h3>
      In <%= wording.category.name %>
    </div>
    <div class="pull-right">
      <%= pluralize wording.reputation_for(:votes).to_i, "vote" %>
    </div>
  </div>
<% end %>
