<div class="span3 well">
  <center>
  <a href="#" data-toggle="modal" data-target="#myModal"><img src="<%= current_user.image %>" name="imagem" width="140" height="140" class="img-circle"></a>
  <h3><%= current_user.name %></h3>
  <div class="info"><%= current_user.description %></div>
  </center>

    <div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav bs-docs-sidenav">
                <li>
                  <%= link_to new_wording_path do %>
                  <i class="fa fa-pencil-square-o fa-fw"></i> Eu quero escrever!
                  <% end %>
                </li>
                <li>
                  <%= link_to current_user do %>
                  <i class="fa fa fa-check-square-o fa-fw"></i> Minhas resenhas!
                  <% end %>
                </li>
          </ul>
    </div>
</div>
